html {
  margin: 0 !important;
  padding: 0; }
  html div.container {
    margin: 0 0 0 61px;
    padding: 0 0 0 0; }
  html div.container-fluid {
    padding: 0 0 0 0; }
  html h1 {
    font-family: "Muli", sans-serif;
    font-size: 2.5rem;
    font-weight: black;
    margin: 35px 0 15px 0; }
  html h2 {
    font-family: "Muli", sans-serif;
    font-size: 2rem;
    font-weight: bold;
    margin: 25px 0 5px 0; }
  html h3 {
    font-family: "Muli", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 20px 0 5px 0; }
  html p {
    font-family: "Muli", sans-serif;
    font-size: 1rem;
    font-weight: regular;
    margin: 5px 0 15px 0; }
  html li {
    font-family: "Muli", sans-serif;
    font-size: 1rem;
    font-weight: regular; }
  html a:visited {
    color: #ff3333; }
  html nav#site-navigation.main-navigation {
    padding: 0 0 0 0;
    height: 100%; }
    html nav#site-navigation.main-navigation .bg-light {
      background-color: #000000 !important; }
    html nav#site-navigation.main-navigation ul.flex-column {
      padding: 50px 10px 0 0;
      background-color: #000;
      height: 100%; }
      html nav#site-navigation.main-navigation ul.flex-column img {
        padding: 0 0 120px 17px;
        max-width: 90%; }
      html nav#site-navigation.main-navigation ul.flex-column .footer {
        display: inline-flex; }
      html nav#site-navigation.main-navigation ul.flex-column li.nav-item {
        float: none;
        text-align: center !important;
        padding: 0 0 25px 0;
        color: #ffffff; }
        html nav#site-navigation.main-navigation ul.flex-column li.nav-item a {
          color: #ffffff; }
        html nav#site-navigation.main-navigation ul.flex-column li.nav-item a:active {
          color: #ffffff;
          text-decoration: underline; }
  html .uberschrift {
    margin-top: 50px;
    margin-bottom: 30px;
    padding: 5px 15px 0 63px; }
  html .col-lg-10.beitraege {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
    display: inline-flex;
    margin-bottom: 50px;
    padding: 0 0 0 50px; }
  html .contentuberschrift {
    margin-top: 50px;
    padding: 5px 15px 0 50px;
    margin-bottom: 30px; }
  html .col-lg-10.pagecontent {
    margin-bottom: 50px;
    padding: 0 0 0 50px; }
    html .col-lg-10.pagecontent .single {
      margin: 15px 15px 40px 0px; }
  html div .carousel.slide {
    padding: 0 0 35px 0; }
    html div .carousel.slide .imageover {
      background: none;
      bottom: 0;
      color: #FFFFFF;
      left: 0;
      position: fixed;
      width: 100%;
      z-index: 8;
      opacity: 1.0 !important; }
  html .col-lg-10.picture {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
    display: inline-flex;
    padding: 0 0 0 0; }
  html .col-lg-10.galerie {
    margin-bottom: 50px;
    padding: 0 0 0 50px; }
    html .col-lg-10.galerie img {
      margin: 10px 30px 15px 0; }
  html div.box {
    padding: 0 0 0 0; }
    html div.box img {
      position: relative;
      width: 100%; }
    html div.box h3 {
      position: absolute;
      top: 200px;
      left: 0;
      width: 100%;
      text-align: center;
      color: #ffffff; }
  html div .page-picture {
    padding: 0 0 0 0; }
