
html {
  margin: 0 !important;
  padding: 0;

  div.container {
    margin: 0 0 0 61px;
    padding: 0 0 0 0;
}
  div.container-fluid {
    padding: 0 0 0 0;
  }

  h1 {
    font-family: "Muli", sans-serif;
    font-size: 2.5rem;
    font-weight: black;
    margin: 35px 0 15px 0;
  }

  h2 {
       font-family: "Muli", sans-serif;
       font-size: 2rem;
       font-weight: bold;
    margin: 25px 0 5px 0;
     }

  h3 {
    font-family: "Muli", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 20px 0 5px 0;
  }
  p {
    font-family: "Muli", sans-serif;
    font-size: 1rem;
    font-weight: regular;
    margin: 5px 0 15px 0;
  }
  li {
    font-family: "Muli", sans-serif;
    font-size: 1rem;
    font-weight: regular;
  }

  a:visited {
    color: #ff3333;
  }

  nav#site-navigation.main-navigation {
  padding: 0 0 0 0;
  height: 100%;
    .bg-light {
      background-color: #000000 !important;
    }

    ul.flex-column {
      padding: 50px 10px 0 0;
      background-color: #000;
      height: 100%;

      img {
        padding: 0 0 120px 17px;
        max-width: 90%;
      }

      .footer {
        display: inline-flex;
      }

      li.nav-item {
        float: none;
        text-align: center !important;
        padding: 0 0 25px 0;
        color: #ffffff;

        a {
          color: #ffffff;
        }


        a:active {
          color: #ffffff;
          text-decoration: underline;
        }
      }
    }

  }

  .uberschrift {
    margin-top: 50px;
    margin-bottom: 30px;
    padding: 5px 15px 0 63px;

  }

  .col-lg-10.beitraege {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
  display: inline-flex;
  margin-bottom:50px;
  padding: 0 0 0 50px;

}

  .contentuberschrift {
    margin-top: 50px;
    padding: 5px 15px 0 50px;
    margin-bottom: 30px;

  }
  .col-lg-10.pagecontent {
    margin-bottom:50px;
    padding: 0 0 0 50px;

    .single {
      margin: 15px 15px 40px 0px;

    }
  }


div .carousel.slide {
  padding: 0 0 35px 0;

.imageover {
  background: none;
  bottom: 0;
  color: #FFFFFF;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 8;
  opacity: 1.0 !important
  }
}

.col-lg-10.picture {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
  display: inline-flex;
  padding: 0 0 0 0;

}
  .col-lg-10.galerie {
    margin-bottom:50px;
    padding: 0 0 0 50px;

    img {
      margin: 10px 30px 15px 0;
    }

  }

div.box {
  padding: 0 0 0 0;

  img {
  position: relative;
  width: 100%;
  }
  h3 {
  position: absolute;
  top: 200px;
  left: 0;
  width: 100%;
  text-align: center;
  color: #ffffff;
  }
}
  div .page-picture {
  padding: 0 0 0 0;
  }
}
