// Small devices (landscape phones, 576px and up)
@media (max-width: 575px) {

  body {
    nav#site-navigation.main-navigation {
      ul.flex-column {
        .footer {
          display: unset;
        }
      }
    }
  }

}

// Medium devices (tablets, 768px and up)
@media (min-width: 576px) and (max-width: 767px) {
  //icerik
}

// Large devices (desktops, 992px and up)
@media (min-width: 768px) and (max-width: 991px) {
  //icerik
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 992px) and (max-width: 1199px) {
  //icerik
}